extends layout

block content
div(id="divCategoriesContainer" class="panel panel-default div-entity-container div-margin-right-20")
    div(class="panel-body div-entity-body")
      input(id="txtCategoryName" type="textbox" class="list-new-input")
      a(id="aNewCategory" href="#")
        img(id="imgNewCategory" class="entity-general-button" src="/images/add.png", title='add list')
      ul(id="ulCategories" class="nav nav-pills nav-stacked") 