extends layout

block content
  div(id="dialog", style="display: none;", align="center") Send sms ?
  input(id="hdnSelectedList" type="hidden")
  input(id="hdnEditList" type="hidden")
  input(id="hdnCompleteItem" type="hidden")
  nav(class="navbar" style="width:300px; border: solid 0px red;")
    div(class="container")     
      ul(class="nav navbar-nav")            
        li(class="list-menu-li" style="float:left;") 
          a(id="aCollapseList" href="#" class="list-menu-li" title="Show list")
            span(class="glyphicon glyphicon-list-alt list-menu-span") 
        li(class="list-menu-li" id="liSendSMS" style="float:left;")
          a(id="aSendSMS" href="#" class="list-menu-li" title="Send SMS")
            span(class="glyphicon glyphicon-phone list-menu-span") 
        li(class="list-menu-li" style="float:left;")
          a(id="aHome" href="/" class="list-menu-li" title="Home" )
            span(class="glyphicon glyphicon-home list-menu-span")
        li(id="liCategories" class="list-menu-li" style="float:left;")
          a(id="aCategories" href="/categories" class="list-menu-li" title="Categories" )
            span(class="glyphicon glyphicon-th-list list-menu-span")

  div(id="divListsContainer" class="panel panel-default div-entity-container hide-list-container div-margin-right-20")
    div(class="panel-body div-entity-body")
      form(id="formCreateList" style="margin-bottom:10px;")
        input(id="txtListName" type="textbox" class="list-new-input")
        a(id="aNewList" href="#")
          img(id="imgNewList" class="entity-general-button" src="/images/add.png", title='add list')
      ul(id="ulLists" class="nav nav-pills nav-stacked")        
  
  div(id="divItems" class="div-entity-body div-entity-container")
    div(class='panel', id="mainMenu")
      ul(class="nav nav-tabs")
        li
          a(id="aFullList", href="#", class='entity-general-name') Full List
        li
          a(id="aSelectedList", href="#", class='entity-general-name') Selected List
        li
          a(id="aClearAll", href="#", class='entit-general-fl-right')
            img(src="/images/clear.png", class='entity-general-button' title="clear selection")
    
    div(class="panel", id="containerFullList")
      h3(class="panel-header", style="") header full list

    div(class="panel", id="containerSelectedList")
      h3(class="panel-header")
      button(id='btnRefresh', style='display:none;')
      
  div(id="divEditItems" class="div-entity-body div-entity-container hide-list-container")
    div(class="panel", id="containerEditList")
      h3(class="panel-header", style="")
      form(id="formEditNewItem")
        input(id="txtEditNewItemName", type="textbox", class="list-new-input")
        a(id="aEditNewItem", href="#")
          img(id="imgEditNewItem", src="/images/add.png", class="entity-general-button", title='add item')
      ul(id="ulEditItems", class="nav nav-pills nav-stacked")
