body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.div-entity-container
{
   width:300px;
   float:left; 
   border: solid 0px grey;   
}

.div-margin-right-20
{
  margin-right:20px;
}


.div-entity-body
{
  background-color:  #fffde7;
  border: solid 1px #f1c40f; 
  border-radius:6px;
}

#aCollapseList
{
  display: block;
  width: 24px;
}

.show-list-container
{
  display: block;
}

.hide-list-container
{
  display: none;
}

/* general entity */

.div-general-entity-container
{
  background-color:#fffde7;
  border-bottom-color: #5dade2; 
  border-bottom-width: 1px; 
  border-bottom-style:solid; 
  width:297px;
  min-width:297px;
}

.div-general-entity-name
{
  width:150px;
  min-width:150px;
  float: left;
  margin-left: 10px; 
  padding-top: 4px;
}

.input-general-entity-count
{
  width:40px;
}


/* Full Item  */
/* Item */

/* list */
.li-list-general
{
  border: solid 1px grey; 
  border-radius:6px; 
  height:40px;   
  background-color:white;
}

.li-list-general :hover
{  
  background-color:#B9DFF8;
}

.li-list-general-active
{
  border: solid 1px grey; 
  border-radius:6px; 
  height:38px;     
  background-color:#B9DFF8;
}

.li-list-general-div
{
  width: 295px;
  height: 38px;
  display: table-cell;
  vertical-align: middle;
}

.entity-general-name
{  
  margin-left:10px;
}

.entity-general-button
{
  width: 24px;
  height: 24px;  
}

.entit-general-fl-right
{
  float: right;
}

.list-main-button
{
  width:60px;
  height:48px;
}

.list-new-input
{
  width: 220px;  
}

@media screen and (min-width: 630px) 
{   
   /*#divListsContainer {display: block !important;}
   #aCollapseList { display: none !important;}*/
}

@media screen and (max-width: 630px) 
{   
   /*#divListsContainer {display: none;}
   #aCollapseList { display: block;}*/
}

