body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.div-entity-container
{
   width:300px;
   float:left; 
   border: solid 0px grey;   
}

.div-margin-right-20
{
  margin-right:20px;
}


.div-entity-body
{
  background-color:  #fffde7;
  border: solid 1px #f1c40f; 
  border-radius:6px;
}

#aCollapseList
{
  display: block;
  width: 24px;
}

.show-list-container
{
  display: block;
}

.hide-list-container
{
  display: none;
}

/* general entity */

.div-general-entity-container
{
  background-color:#fffde7;
  border-bottom-color: #5dade2; 
  border-bottom-width: 1px; 
  border-bottom-style:solid; 
  width:297px;
  min-width:297px;
  min-height: 30px;
}

.div-general-entity-container:hover
{
  background-color:#B9DFF8;
}
.div-general-entity-name
{
  width:210;
  min-width:210px;
  /*float: left;*/
  margin-left: 10px; 
  padding-top: 4px;
  height: 40px;
}

.input-general-entity-count
{
  width:40px;
  vertical-align: top;
  margin-top: 5px;
}

/* Item menu*/
.nav-tabs > li
{
  text-align: center;
}
.nav-tabs > li > a
{
  width: 120px;
  margin: 0px;
}

.nav-tabs > li > a:active, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus 
{
  border: solid 1px grey;    
  background-color:#B9DFF8;
  color:#000;
}

#aClearAll
{
  width:55px;
}

.item-menu-active
{
  border: solid 1px grey;    
  background-color:#B9DFF8;
  color:#000;
}

/* Full Item  */
.div-full-entity-name
{
  width:180px;
  min-width:180px;
  /*float: left;*/
  margin-left: 10px; 
  padding-top: 4px;
  height: 30px;
  margin-top: 5px;
  display: inline-block;
}

.input-cb-count
{
  margin-top: 10px;
  margin-left: 5px !important;
}

.span-full-item-select
{
  margin-right: 5px;  
}

.span-full-item-count
{
  margin-right: 5px;  
}

/* Selected Item  */
.div-selected-entity-name
{
  width:170px;
  min-width:170px;
  /*float: left;*/
  padding-top: 4px;
  height: auto;
  margin-top: 5px;
}

.a-button-complite
{
  margin-right:5px; 
  margin-top: 5px;
}

.a-button-delete
{
  margin-top: 5px;
}

/* Item */
/*.panel > div:hover
{
  background-color:#B9DFF8;
}*/

/* list */
.li-list-general
{
  border: solid 1px grey; 
  border-radius:6px; 
  height:40px;   
  background-color:white;
}

.li-list-general :hover
{  
  background-color:#B9DFF8;
}

.li-list-general-active
{
  border: solid 1px grey; 
  border-radius:6px; 
  height:38px;     
  background-color:#B9DFF8;
}

.li-list-general-div
{
  width: 295px;
  height: 38px;
  display: table-cell;
  vertical-align: middle;
}

.entity-general-name
{  
  margin-left:10px;
  color: #000;
}

.entity-general-button
{
  width: 24px;
  height: 24px;  
}

.entit-general-fl-right
{
  float: right;
}

.list-main-button
{
  width:60px;
  height:48px;
}

.list-main-button:hover 
{
  border:solid 1px #f1c40f;
  border-radius:6px;
}

.list-new-input
{
  width: 220px;  
}

.count-items
{
  margin-left:5px;
  font-size: 12pt;
}

@media screen and (min-width: 630px) 
{   
   /*#divListsContainer {display: block !important;}
   #aCollapseList { display: none !important;}*/
}

@media screen and (max-width: 630px) 
{   
   /*#divListsContainer {display: none;}
   #aCollapseList { display: block;}*/
}

/* home page style */
  
  .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
  .sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
    min-height: 100%;
  }

/* Set black background color, white text and some padding */
  footer {
    background-color: #555;
    color: white;
    padding: 15px;
  }

/* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height:auto;} 
  }

.list-menu-li
{
  width: 55px !important;
}

.list-menu-span
{
  font-size: 20px;
  color: #000;
}

#liSendSMS
{
  display: block;
}

.ui-dialog-titlebar-close
{
  display: none;
}

#ulEditItems .input-general-entity-count {
  margin-top: 1px;
  margin-left: 5px;
}

#ulEditItems .item-edit-name{
  margin-left: 5px;
}

#ulEditItems{
  width: 330px;
  margin: auto;
}

#containerEditList{
  text-align: center;
}

#containerEditList{
  background-color: #fffde7;
}

#divEditItems.div-entity-body.div-entity-container.hide-list-container{
  width: 350px;
}

#ulEditItems .li-list-general .li-list-general-div.list-padding-auto{
  width: 345px;
}

#txtEditNewItemMeasure{
  margin-top: 0px;
  margin-left: 5px;
  margin-right: 5px;
}

.entity-general-name-left-5
{  
  margin-left:5px;
  color: #000;
  display: inline;
}

.a-link-general {
  color: black; cursor: pointer;
}